@import "../../Scss/index.scss";
.sign-up-form{
    font-weight: bold;
    padding-bottom: 3px;
h2{
    color : $font-light;
    font-weight: bold;
    padding-bottom: 30px;
    justify-content: center;
    width: 100%;
}
.form-group{
    
    padding-bottom: 10px;

input{
    width: 100%;
   
}
}

button{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    border-radius: 50px;
    margin-top: 20px;

 .spinner-border{
    width: 25px;
    height: 25px;
}
}
}